<?xml version='1.1' encoding='UTF-8'?>
<org.csanchez.jenkins.plugins.kubernetes.KubernetesSlave plugin="kubernetes@1.13.5">
  <name>jenkins-slave-x6t6f</name>
  <description>jenkins-slave</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="org.jenkinsci.plugins.durabletask.executors.OnceRetentionStrategy" plugin="durable-task@1.27">
    <idleMinutes>5</idleMinutes>
    <idleMinutes defined-in="org.jenkinsci.plugins.durabletask.executors.OnceRetentionStrategy">5</idleMinutes>
  </retentionStrategy>
  <launcher class="org.csanchez.jenkins.plugins.kubernetes.KubernetesLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <launched>false</launched>
  </launcher>
  <label>jenkins-slave</label>
  <nodeProperties/>
  <userId>SYSTEM</userId>
  <cloudName>kubernetes</cloudName>
  <namespace>default</namespace>
  <template>
    <inheritFrom></inheritFrom>
    <name>jenkins-slave</name>
    <namespace></namespace>
    <privileged>false</privileged>
    <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
    <alwaysPullImage>false</alwaysPullImage>
    <instanceCap>2147483647</instanceCap>
    <slaveConnectTimeout>100</slaveConnectTimeout>
    <idleMinutes>0</idleMinutes>
    <activeDeadlineSeconds>0</activeDeadlineSeconds>
    <label>jenkins-slave</label>
    <nodeSelector></nodeSelector>
    <nodeUsageMode>NORMAL</nodeUsageMode>
    <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
    <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
      <memory>false</memory>
    </workspaceVolume>
    <volumes/>
    <containers>
      <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
        <name>jenkins-slave</name>
        <image>jenkinsci/jnlp-slave</image>
        <privileged>false</privileged>
        <alwaysPullImage>false</alwaysPullImage>
        <workingDir>/home/jenkins</workingDir>
        <command>/bin/sh -c</command>
        <args>cat</args>
        <ttyEnabled>true</ttyEnabled>
        <resourceRequestCpu></resourceRequestCpu>
        <resourceRequestMemory></resourceRequestMemory>
        <resourceLimitCpu></resourceLimitCpu>
        <resourceLimitMemory></resourceLimitMemory>
        <envVars/>
        <ports/>
        <livenessProbe>
          <execArgs></execArgs>
          <timeoutSeconds>0</timeoutSeconds>
          <initialDelaySeconds>0</initialDelaySeconds>
          <failureThreshold>0</failureThreshold>
          <periodSeconds>0</periodSeconds>
          <successThreshold>0</successThreshold>
        </livenessProbe>
      </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
    </containers>
    <envVars/>
    <annotations/>
    <imagePullSecrets/>
    <nodeProperties/>
    <yaml></yaml>
    <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Default"/>
  </template>
</org.csanchez.jenkins.plugins.kubernetes.KubernetesSlave>